body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Inter';
  background: '#F2F1F1';
  color: '#000';
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

}